* {
    padding: 0;
    margin: 0;
}

main {
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

main .card {
    max-width: 300px;
    flex: 1 1 210px;
    text-align: center;
    height: 400px;
    border: 1px solid lightgray;
    margin: 20px;
}

main .card .image-design {
    height: 50%;
    margin-bottom: 20px;
}

main .card .image-design img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

main .card .caption {
    padding-left: 1em;
    text-align: left;
    line-height: 15px;
    height: 25%;
}

main .card .caption p {
    font-size: 1rem;
}

del {
    text-decoration: line-through;
}

main .card .caption {
    color: black;
}

main .card button {
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 50px;

}

main .card button:hover {
    border: 1px solid black;
    color: black;
    background:transparent;

}

main .card button a:hover {
    color: black;
}